<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<h1> How To Use This </h1>

  <ul>
    <li>Choose a Ski Resort in Tahoe</li>
    <li>Get it's Shred Rating</li>
    <li>Look at map for Traffic info</li> 
    <li>Go Ski, or be lame</li>
  </ul>


<p>Based on a algorithm engineered by a former Astronaut who is also Batman, this app takes into account several weather conditions and returns a score. Dependent on that score is the Shred Rating, a call to action, a call to Live Hard, a kick in the pants for the Bay Area resident and a reminder to Just. Keep. Skiing.</p></br>


  
