<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<h1> How To Use This </h1>
  <div class="how_to">
    
      <ul class="ski_how_to">
        <li> Ski <li>
        <li>Choose a Ski Resort in Tahoe</li>
        <li>Get Shred Rating, 100 is a perfect score</li>
        <li>Look at map for Traffic info</li> 
        <li>Go Ski, or be lame</li>
      </ul>

    
      <ul class="surf_how_to">
        <li> Surf <li>
        <li>Choose a Surf Spot</li>
        <li>Check out the conditions</li>
        <li>Go Shred </li>
    
  </div>

<p>Based on a algorithm engineered by a former Astronaut who is also Batman, this app takes into account several weather conditions and returns a score. Dependent on that score is the Shred Rating, a call to action, a call to Live Hard, a kick in the pants for the Bay Area resident and a reminder to Just. Get. Out. There.</p></br>

<a href="http://www.linkedin.com/in/rawaters">
    <div class="group ryan"></div> </a>


  
