html {
  font-family: Helvetica Neue, Helvetica;
  font-size: 25px;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  background: url('./the_heave.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

html.score-10, .score-9 {
  background-image: url('./lake_skier.jpg');  
}

html.score-8 {
  background-image: url('./the_y.jpg');
}

html.score-7 {
  background-image: url('./2_tracks.jpg') 

}

html.score-6 {
  background-image: url('./ok_day.jpg');  
}

html.score-5, .score-4, .score-3, .score-2, .score-1, .score-0 {
  background-image: url('./crabs.jpg');  
}


.wind {
  right: 300px;
  position: relative;
  
}

.travel_time {
  left: 300px;
  bottom: 153px;
  position: relative;
}
.data_container {
  width: 100%;
  height: 175px;
}
h1 {
  font-size: 75px;
  margin: 3px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.score {
  font-size: 40px;
  color: rgb(15, 250, 200);
  font-weight: 300;
  text-shadow: 0 10px 9px rgba(100, 100 , 200, 0.3);
}



.footer {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.footer_links p a {
  text-align: right;
  color: #000;
  font-size: 20px;
  padding-right: 5px;
  text-decoration: none;

}
.footer_links p {
  margin: 10px;
  font-family: 'Permanent Marker', cursive;
}

.footer_links {
  text-align: right;
}

.map {
  width: 350px;
  height: 350px;
  margin:0 auto;
  border: 3px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);

}

.input_box {
  background: rgba(57,60,61,0.8);
  border: 1px solid #000;
  position: relative;
  top: 5px;
  width: 585px;
  height: 42px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.button {
  width: 275px;
  height: 40px;
  position: relative;
  left: 150px;
  top: -40px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 5px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
  border: 2px solid rgba(0, 0, 255, 1);

}

.drop_down {
  width: 275px;
  height: 40px;
  position: relative;
  right: 150px;
  top: 0px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 5px;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

.how_to {
  background-color: white;
  opacity: .8;
  height: 260px;
}

ul.ski_how_to {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color: black;
  position: absolute;
  float: left;

}

ul.surf_how_to {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color: black;
  position: relative;
  left: 250px;
  top: 30px;
  
}


ul, h2 {
 font-family: 'Permanent Marker', cursive; 
 font-size: 40px;
 list-style: none;
 color: #000;
 text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

h2 {
  margin: 0px;
}

p {
  text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.surf_input {
  margin-top: 150px;
}

.surf_view {
  width: 709px;
  height: 300px;
  background-color: white;
  opacity: .8;
  position: absolute;
  left: 250px;
  right: 250px;
}

.surf_view ul li {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

#surf_chart {
  background-color: white;
  position: absolute;
  left: 250px;
  right: 250px;
  top: 308px;
  opacity: .8;
  height: 300px;
}

html.surf-Fort.Point {
  background-image: url('./fort_point.jpg');
}
html.surf-North.Ocean.Beach {
  background-image: url('./ocean_beach.jpg');
}
html.surf-South.Ocean.Beach {
  background-image: url('./ocean_beach_2.jpg');
}
html.surf-Eagles.Point {
  background-image: url('./mavericks.jpg');
}
html.surf-Deadmans {
  background-image: url('./deadmans.jpg');
}
html.surf-Kellys.Cove {
  background-image: url('./kellys_cove.jpg');
}
.ryan {
  background-image: url('./rudy.jpg');
}
.group{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  padding: 26px;
  margin-bottom: 20px;
  margin-right: 80px;
  bottom: 50px;
}
